*{
    margin: 0 auto;
}

body {
    background-image: url(background.jpg);
    background-position: none;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #02031f;
}

header {
    display: flex;
    flex-direction: row;
    background-color: rgb(37, 37, 37);
}

header img {
    height: 10%;
    width: 10%;
    background-color: rgb(27, 27, 27);
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

header a {
    color: rgb(196, 196, 196);
    font-size: 1.3vw;
    margin-top: 1.3%;
    margin-bottom: 1.3%;
}

header a:hover{
    text-decoration: underline;
    color: aliceblue;
}

@media only screen and (max-width: 600px) {
    
    body {
        background-image: url(background-phone.png);
        background-color: black;
    }
    header img{
        width: 20%;
        height: 20%;
    }
    header h1{
        font-size: 6vw;
    }
    nav {
        opacity: 1;
        width: 100%;
    }
    nav a{
        font-size: 3.6vw;
    }
}