*{
    margin: 0 auto;
}

body {
    background-image: url(background.jpg);
    background-position: none;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #02031f;
    margin-bottom: 5%;
}

header {
    display: flex;
    background-image: linear-gradient(to left, #ff00004a, rgba(255, 4, 0, 0.614));
    box-sizing: border-box;
}

header a {
    color: rgb(196, 196, 196);
    font-size: 1.6vw;
    margin-top: 1.3%;
    margin-bottom: 1.3%;
    font-family: 'Alegreya', serif;
    text-decoration: none;
    text-align: center;
}

header a:hover{
    text-decoration: underline;
    color: aliceblue;
}

#head {
    margin-top: 1.3%;
    margin-bottom: 1.3%;
    display: flex;
}

#head a {
    flex: 1;
}

#head img{
    background-color: aliceblue;
    border-radius: 30vw;
}

#tudo {
    background-color:rgba(16, 0, 28, 0.8);
    border-radius: 20px;
    padding-top: 4%;
    padding-bottom: 2%;
}

.display {
    display: flex;
    align-items: center;
}

p {
    color: rgb(255, 255, 255);
    padding-inline: 4%;
    text-indent: 7%;
    font-size: 1.6vw;
    padding-top: 2%;
    text-align: justify;
    font-family: 'Alegreya', serif;
}

.title {
    color: rgb(255, 0, 0);
    font-family: 'Cinzel Decorative', cursive;
    font-size: 3.8vw;
    text-align: center;
}

.sub {
    color:rgb(255, 255, 255);
    text-decoration: underline;
    font-size: 2.2vw;
    margin: 4%;
    text-align: center;
    font-family: serif;
}

.raca {
    margin: 2%;
    display: flex;
    border-radius: 5%;
    flex-direction: row;
}

figure {
    box-sizing: border-box;
    text-align: center;
    margin: 1%;
}

figure img {
    width: 21vw;
    text-align: center;
}

figure p {
    text-align: center;
    text-decoration: none;
}

.info {
    animation-name: show;
    animation-duration: 2s;
    display: flex;
    flex-direction: column;
}

.desc {
    border-bottom: solid rgba(255, 247, 0, 0.7) 1px;
    margin-bottom: 2%;
}

.hab {
    display: flex;
    width: 100%;
    margin-bottom: 2%;
}

.hab div {
    width: 50%;
}

li {
    color: rgb(255, 255, 255);
    padding-inline: 4%;
    text-indent: 7%;
    font-size: 1.4vw;
    padding-top: 2%;
    text-align: justify;
    font-family: 'Alegreya', serif;
}

@media only screen and (max-width: 600px) {
    
    body {
        background-image: url(background-phone.png);
        background-color: black;
    }

    header a{
        font-size: 3.1vw;
    }

    p {
        font-size: 2.9vw;
    }

    .title {
        font-size: 4.7vw
    }

    .sub {
        font-size: 3.1vw;
    }

    .raca {
        display: flex;
        flex-direction: column;
    }

    figure {
        border-right: solid rgba(255, 247, 0, 0) 1px;
    }

    figure img {
        width: 34vw;
    }

    li {
        font-size: 2.9vw;
    }
}